body {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hero-image{
    background-image: url(./uni.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
nav .nav-brand {
    display: flexbox;
    background-color: darkgrey;
    font-size: large;
    gap: 1px;
}
.logo{
    background-color: cornsilk;
    margin: 0;
    padding: 0;
    font-size: large;
    width: 100%;
}
nav .nav-brand a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 14px 16px;
}
nav li :hover{
    background-color: gold;
}
.hero-txt{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input{
    cursor: pointer;
    background-color: aqua;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 55px;

}
input.btn [type="submit"]:hover{
    background-color: indianred;
}


#links{
    display: none;
}